.columna{
    text-align: center;
}

.botonera {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
}

.btn-icon {
    background-color: #8b0000;
    color: white;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
}
  
.btn-icon:hover {
  background-color: #a30000;
  transform: translateY(-3px);
}

.tabla-scroll {
    overflow-x: auto;
    max-height: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: white;
}

th, td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #555;
}

th {
    background-color: #111;
    cursor: pointer;
}

tr:hover {
  background-color: #222;
  box-shadow: inset 0 0 5px #000;
  transition: 0.2s ease;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.modal {
    position: fixed;
    inset: 0; /* top: 0; bottom: 0; left: 0; right: 0 */
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1000;
    display: flex;
    justify-content: center;
    align-items: c;
    padding: 1rem; /* para espacio lateral en pantallas pequeñas */
    overflow-y: auto;
    
}

.modal-content {
    background-color: #121212;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}


.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.titulo-pagina {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.contenedor-tabla {
  width: calc(100% - 100px); /* 50px de cada lado */
  margin: 0 auto;           /* centra el bloque */
  padding: 20px;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.boton-acceso {
  display: flex;
  flex-direction: column; /* Ícono arriba, texto abajo */
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, rgba(42, 39, 39, 0.9), rgba(25, 23, 23, 0.8));
  color: white;
  font-size: 1.5rem;
  padding: 30px;
  width: 200px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}
.boton-acceso:hover {
  background: linear-gradient(145deg, #a30000, #c70000);
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

.filtros {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filtros input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 220px;
}

button.submit-btn {
  padding: 0.75rem 2rem;
  background-color: #3939398d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
}

button.submit-btn:hover {
  background-color: rgb(115, 8, 8);
}